.good {
  display: flex;

  align-items: center;
  width: 100%;
  justify-content: space-between;

  &__info {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__img {
    width: 60px;
    height: 60px;
  }

  &__button {
    width: 100px;
    height: 40px;
    justify-self: end;
  }
}
